@{
    
    /*VISTA:
     * 
     * Ejecuto la instruccion return View(), que especificaba que el metodo debe usar un archivo
     * de plantilla de vista para representar una respuesta al explorador
     */

    //Titulo del explorador
    ViewData["Title"] = "Movie List"; //Establece la propiedad Title del diccionario ViewData

}


<h2>My Movie List</h2>


<p>Hello from our View Template!</p>